In [1]:
# Installing selenium

!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [4]:
Q.1.scrape first 10 jobs data on naukri.com

# Importing all required libraries


import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [10]:
url="https://www.naukri.com/"
driver.get(url)

In [11]:
# finding web element for search job by absolute path

search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')

In [12]:
# sending value to search job element

search_job.send_keys('Data Analyst')

In [13]:
# finding web element for search location by absolute path


search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [14]:
# sending value to search location element

search_loc.send_keys('Bangalore')

In [15]:
# finding web element for search button

search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [16]:
# clicking search button

search_btn.click()

In [20]:
# Extracting job titles 

title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

job_title=[]
for i in title_tags:
    job_title.append(i.text)
job_title[0:3]

['Hiring For Business Data Analyst - Bangalore',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Assistant Clinical Data Analyst']

In [21]:
# Extracting job locations

loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

job_loc=[]
for i in loc_tags:
    job_loc.append(i.text)
job_loc[0:3]

['Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [22]:
# Extracting company names

company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

com_name=[]
for i in company_tags:
    com_name.append(i.text)
com_name[0:3]

['Synechron',
 'Sejal Consulting Hub',
 'Labcorp Drug Development India Private Limited']

In [23]:
# Extracting experiences

exp_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

exp=[]
for i in exp_tags:
    exp.append(i.text)
exp[0:3]

['Synechron',
 'Sejal Consulting Hub',
 'Labcorp Drug Development India Private Limited']

In [26]:
# Displaying extracted information for job titles ,location , experience , company name

job=pd.DataFrame({'JobTitles':job_title[0:10],'Company Name':com_name[0:10],'JobLocation':job_loc[0:10],'Experience':exp[0:10]})
job

,JobTitles,Company Name,JobLocation,Experience
0,Hiring For Business Data Analyst - Bangalore,Synechron,Bangalore/Bengaluru,Synechron
1,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub
2,Assistant Clinical Data Analyst,Labcorp Drug Development India Private Limited,Bangalore/Bengaluru,Labcorp Drug Development India Private Limited
3,Senior Data Analyst - CRM,Gojek Tech,Bangalore/Bengaluru,Gojek Tech
4,Lead - Data Analyst / Scientist,Axim Technologies,Bangalore/Bengaluru,Axim Technologies
5,Hiring For Data Analyst,Flipkart,Bangalore/Bengaluru,Flipkart
6,Senior Data Analyst,Walmart,Bangalore/Bengaluru,Walmart
7,Senior Data Analyst,SMEDC SERVICES PRIVATE LIMITED,Bangalore/Bengaluru\n(WFH during Covid),SMEDC SERVICES PRIVATE LIMITED
8,Senior Data Analyst - CRM,GO-JEK India,Bangalore/Bengaluru,GO-JEK India
9,Data Analyst,Verizon,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Verizon

In [ ]:
# Q.2 ) same as Q.1

In [1]:
# Q.3)
# Importing all required libraries


import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [31]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [6]:
url="https://www.naukri.com/"
driver.get(url)

In [7]:
# finding web element for search job by absolute path

search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')

In [8]:
# sending value to search job element

search_job.send_keys('Data Scientist')

In [12]:
# finding web element for search button

search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [13]:
# clicking search button

search_btn.click()

In [14]:
# finding location check by using absolute path

loc_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')

In [15]:
# filtering location

loc_check.click()

In [16]:
# finding salary check by using absolute path

salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')

In [17]:
# filtering salary

salary_check.click()

In [19]:
# Extracting job titles 

title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

job_title=[]
for i in title_tags:
    job_title.append(i.text)
job_title[0:3]

['Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Senior Data Scientist I',
 'Data Scientist']

In [20]:
# Extracting job locations

loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

job_loc=[]
for i in loc_tags:
    job_loc.append(i.text)
job_loc[0:3]

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [21]:
# Extracting company names

company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

com_name=[]
for i in company_tags:
    com_name.append(i.text)
com_name[0:3]

['Schlesinger Group', 'Delhivery', 'T & A Solutions']

In [24]:
# Extracting experiences

exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

exp=[]
for i in exp_tags:
    exp.append(i.text)
exp[0:3]

['0-3 Yrs', '3-7 Yrs', '2-6 Yrs']

In [25]:
# Displaying extracted information for job titles ,location , experience , company name

job=pd.DataFrame({'JobTitles':job_title[0:10],'Company Name':com_name[0:10],'JobLocation':job_loc[0:10],'Experience':exp[0:10]})
job

,JobTitles,Company Name,JobLocation,Experience
0,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-3 Yrs
1,Senior Data Scientist I,Delhivery,Gurgaon/Gurugram,3-7 Yrs
2,Data Scientist,T & A Solutions,Gurgaon/Gurugram,2-6 Yrs
3,Job Opportunity || Data Scientist || HCL Techn...,HCL,Delhi / NCR,2-6 Yrs
4,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",2-6 Yrs
5,Data Scientist role,Mount Talent Consulting Private Limited,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",1-4 Yrs
6,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-6 Yrs
7,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-6 Yrs
8,Data Scientist role,Mount Talent Consulting Private Limited,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",1-3 Yrs
9,Data Scientist role,Mount Talent Consulting Private Limited,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",1-3 Yrs

In [79]:
# Q4: Scrape data of first 100 sunglasses listings on flipkart.com.

# Importing all required libraries


import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [78]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [79]:
url="https://www.flipkart.com/"
driver.get(url)

In [80]:
# clicking on close button on login page
#/html/body/div[2]/div/div/button

close_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_btn.click()

In [81]:
# finding web element for searching item

search_item=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

In [82]:
# entering value to be search in search bar

search_item.send_keys('sunglasses')

In [83]:
# clicking on search button for finding item

search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [84]:
# extracting  items brands,description ,price  by navigating through pages

start=0
brand=[]
end=3

for page in range(start,end):#for loop for scrapping 3 page

    brands=driver.find_elements_by_class_name('_2WkVRV') #scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the brand name  in Brand list   
    brands=[]
    
    item_desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]') #scraping item description from the xpath
    for i in item_desc:
        desc.append(i.text)#appending the item description in desc list
    item_desc=[]
    
    item_price=driver.find_elements_by_class_name('_30jeq3') #scraping price element from the xpath
    for i in item_price:
        price.append(i.text)#appending the item price in price list
    item_price=[]
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [86]:
# Displaying brands, description , price 

brand_display=pd.DataFrame({'Brand Name':brand[0:100],'Brand_Desc':desc[0:100],'Brand Price':price[0:100]})
brand_display

,Brand Name,Brand_Desc,Brand Price
0,Kanishka,"UV Protection, Polarized Oval Sunglasses (48)","₹1,000"
1,VINCENT CHASE,"UV Protection Round, Oval Sunglasses (54)",₹248
2,PIRASO,UV Protection Shield Sunglasses (Free Size),₹349
3,Elligator,UV Protection Aviator Sunglasses (55),₹145
4,Fastrack,"UV Protection, Night Vision Wayfarer Sunglasse...","₹1,559"
...,...,...,...
95,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹224
96,New Specs,"UV Protection, Gradient Butterfly Sunglasses (52)",₹396
97,Fravy,"Polarized, UV Protection Retro Square Sunglass...",₹383
98,ROYAL SON,UV Protection Round Sunglasses (Free Size),₹207
99,VILLAIN,Others Wayfarer Sunglasses (Free Size),₹917

In [87]:
# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
    

# Importing all required libraries


import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [88]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [89]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace."
driver.get(url)

In [90]:
# clicking to find all reviews

all_reviews=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
all_reviews.click()

In [91]:
# extracting  i phone ratings ,review summary, full summary  by navigating through pages

start=0
end=11
rating=[]

for page in range(start,end):#for loop for scrapping 10 page
    rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]') #scraping rating from the xpath
    for i in rating_tags:
        rating.append(i.text)#appending the rating in rating list
    rating_tags=[]
    
    rev_sum_tags=driver.find_elements_by_class_name('_2-N8zT') #scraping review summary elements from the xpath
    for i in rev_sum_tags:
        rev_sum.append(i.text)#appending the review summary in rating list
    rev_sum_tags=[]
    
    full_rev_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]') #scraping full review element from the xpath
    for i in full_rev_tags:
        full_rev.append(i.text)#appending the full review in rating list
    full_rev_tags=[]
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [92]:
# Displaying Ratings,review_summary,Full summary 

Review_Display=pd.DataFrame({'Ratings':rating[0:100],'Review_Summary':rev_sum[0:100],'Full_Summary':full_rev[0:100]})
Review_Display

,Ratings,Review_Summary,Full_Summary
0,5,Good quality product,I am using IOS devices since last 4 years. So ...
1,5,Fabulous!,No doubt why cost what it cost? No complain ab...
2,5,Good quality product,Very nice and butyful phone camera not best as...
3,5,Excellent,"Wow!!!\nThis product is a beast man,performanc..."
4,5,Mind-blowing purchase,This phone justifies the price in which it com...
...,...,...,...
95,3,Super!,"The phone is simply phenomenal, I upgraded fro..."
96,5,Brilliant,Although I already bought my first ever Apple ...
97,5,Wonderful,"Great Phone, I am using mobile phone since 199..."
98,5,Classy product,absolutely stunning phone. Switching from andr...
99,5,Best in the market!,I’ll be rather the billionth person to review ...

In [8]:
# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.


# Importing all required libraries


import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [129]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [130]:
url="https://www.flipkart.com/"
driver.get(url)

In [131]:
# clicking on close button on login page
#/html/body/div[2]/div/div/button

close_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_btn.click()

In [132]:
# finding web element for searching item

search_item=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

In [133]:
# entering value to be search in search bar

search_item.send_keys("sneakers")

In [134]:
# clicking on search button for finding item

search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [135]:
# extracting  items brands,description ,price  by navigating through pages

start=0
item=[]
b_price=[]
b_desc=[]
end=5

for page in range(start,end):#for loop for scrapping 4 page

    item_tags=driver.find_elements_by_class_name('_2WkVRV') #scraping brands name by class name='_2WkVRV'
    for i in item_tags:
        item.append(i.text)#appending the brand name  in Brand list   
    item_tags=[]
    
    brand_desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]') #scraping item description from the xpath
    for i in brand_desc:
        b_desc.append(i.text)#appending the item description in desc list
    brand_desc=[]
    
    brand_price=driver.find_elements_by_class_name('_30jeq3') #scraping price element from the xpath
    for i in brand_price:
        b_price.append(i.text)#appending the item price in price list
    brand_price=[]
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [136]:
# Displaying brands, description , price 

brand_display=pd.DataFrame({'Brand Name':item[0:100],'Brand_Desc':b_desc[0:100],'Brand Price':b_price[0:100]})
brand_display

,Brand Name,Brand_Desc,Brand Price
0,Echor,Men's Sneakers Fashion Lightweight Running Sho...,₹569
1,ESSENCE,Luxury Fashionable casual sneaker shoes and sh...,₹399
2,Magnolia,Sneakers For Men,₹398
3,URBANBOX,Sneakers For Men,₹220
4,Labbin,Luxury Fashionable casual sneaker shoes Sneake...,₹499
...,...,...,...
95,Echor,Leaf Sneaker Sneakers For Men,₹279
96,SPADE CLUB,Sneakers For Men,₹449
97,Rocky Footwear,LYTECOURT Sneakers For Men,₹499
98,RODDICK SHOES,Sneakers For Men,₹799
99,BLANCCY,Sneakers For Men,₹398

In [36]:
# Q.7) scrape First 100 shoes data from https://www.myntra.com/shoes
# Importing all required libraries


import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [168]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [169]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [170]:
# finding and clicking  web element to filter shoes for price between Rs 7134 to Rs 14099

filter_price_tag=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_price_tag.click()

In [171]:
# finding and clicking web element to filter shoes for color black

filter_color_tag=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_color_tag.click()

In [172]:
# extracting  shoes brands,description ,price  by navigating through pages

start=0
item=[]
b_price=[]
b_desc=[]
end=4

for page in range(start,end):#for loop for scrapping 3 page

    item_tags=driver.find_elements_by_class_name('product-brand') #scraping brands name by class name='_2WkVRV'
    for i in item_tags:
        item.append(i.text)#appending the brand name  in Brand list   
    item_tags=[]
    
    brand_desc=driver.find_elements_by_xpath('//h4[@class="product-product"]') #scraping item description from the xpath
    for i in brand_desc:
        b_desc.append(i.text)#appending the item description in desc list
    brand_desc=[]
    
    brand_price=driver.find_elements_by_xpath('//div[@class="product-price"]') #scraping price element from the xpath
    for i in brand_price:
        b_price.append(i.text)#appending the item price in price list
    brand_price=[]
    
    nxt_button=driver.find_elements_by_xpath("//li[@class='pagination-next']/a")#scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [176]:
# Displaying brands, description , price 

brand_display=pd.DataFrame({'Brand Name':item[0:100],'Brand_Desc':b_desc[0:100],'Brand Price':b_price[0:100]})
brand_display

,Brand Name,Brand_Desc,Brand Price
0,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
1,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
2,Saint G,Men Mid-Top Chelsea Boots,Rs. 9265Rs. 10900(15% OFF)
3,ROSSO BRUNELLO,Men Textured Formal Loafers,Rs. 10999
4,Bugatti,Men Running Shoes,Rs. 7999Rs. 9999(20% OFF)
...,...,...,...
95,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
96,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
97,ECCO,Helsinki Bike Toe Lace Shoes,Rs. 12999
98,MANGO,Women Mid Top Chunky Flat Boot,Rs. 7191Rs. 7990(10% OFF)
99,Clarks,Men Solid Formal Leather Derbys,Rs. 9999

In [300]:
# Q.8) After setting the filters scrape first 10 laptops data.
# Importing all required libraries


import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [301]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [302]:
url="https://www.amazon.in/"
driver.get(url)

In [303]:
# finding web element for searching item

search_item=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

In [304]:
# entering value to be search in search bar

search_item.send_keys("Laptop")

In [305]:

# clicking on search button for finding item

search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [306]:


# finding and clicking web element to filter Laptops for CPU intel i7


filter_cpu_check=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[12]/span/a/div/label/i')
filter_cpu_check.click()

In [307]:
# extracting  laptop ratings ,title, price  by navigating through pages

start=0
end=3
rating=[]
title=[]
price=[]

for page in range(start,end):#for loop for scrapping 5 page
    rating_tags=driver.find_elements_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[2]/div/span/div/div/div/div/div[2]/div[2]/div/div/div[1]/h2/a/span') #scraping rating from the xpath
    for i in rating_tags:
        rating.append(i.text)#appending the rating in rating list
    rating_tags=[]
    
    title_tags=driver.find_elements_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[2]/div/span/div/div/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]') #scraping review summary elements from the xpath
    for i in title_tags:
        title.append(i.text)#appending the review summary in rating list
    title_tags=[]
    
    price_tags=driver.find_elements_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[6]/div/span/div/div/div[2]/div[2]/div/div/div[3]/div[1]/div/div[1]/div[2]/a/span[1]/span[2]/span[2]') #scraping full review element from the xpath
    for i in full_rev_tags:
        price.append(i.text)#appending the full review in rating list
    price_tags=[]
    
    nxt_button=driver.find_elements_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[33]/span/div/div/ul/li[7]/a')#scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

IndexError: list index out of range

In [ ]:
# Q.9 ) scrape company name, No. of days ago when job was posted, Rating of the company. for data scientist role in Noida 
# from ambitionbox.com

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [312]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [313]:
url="https://www.ambitionbox.com/"
driver.get(url)

In [314]:
# finding web element for searching item

search_item=driver.find_element_by_xpath('/html/body/section[1]/div/div[2]/form/span/input')

In [315]:
# entering value to be search in search bar

search_item.send_keys('Data Scientist')

In [316]:

# clicking on search button for finding item

search_btn=driver.find_element_by_xpath('/html/body/section[1]/div/div[2]/form/div[2]/input')
search_btn.click()

In [ ]:
# Not getting the desired page for ambitionbox.com to choose location